.header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background: white;
  color: black;
  word-spacing: 5px;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%
}

body,
html {
  padding: 0;
  margin: 0;
}

.vancouvercover {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  object-fit: auto;
  display: block;
  padding: 0;
  margin: 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.navigation li {
  font-weight: 100;
  padding: 20px;
  list-style: none;
  display: inline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style-position: inside;
  font-size: 18px;
  color:black;
}

.description {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
  padding-top: 50px;
  font-weight: 100;
  margin-left: 18%;
  margin-right: 18%;
}

table {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
}

table img {
  display: block;
  object-fit: contain;
  width: 600px;
  height: auto;
  max-width: 50%;
  overflow-x: scroll;
}

/*
.travel {
  padding-bottom: 72px;
  padding-left: 15%;
  padding-right: 15%;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.column {
  flex: 10%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}


.column img {
  margin-top: 72px;
  max-width: 600px;
  max-height: auto;
  display: block;
  object-fit: auto;
  position: relative;
  align-items: center;
  
} 
*/

.fullwrap {
  position: relative;
}

.fullwrap img {
  max-width: 600px;
  max-height: auto;
  min-width: none;
}

.fullcap {
  box-sizing: border-box;
  width: 600px;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 30%;

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.fullcap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.fullwrap:hover .fullcap {
  visibility: visible;
  opacity: 0.5;
}